langchain
chromadb
unstructured
sentence-transformers
faiss-cpu
tiktoken
openai
pypdf
loguru
docx2txt
pandasai
langchain_community
koreanize_matplotlib
langchain_openai
seaborn
base64
